body {
  padding: 1rem 1rem 1rem 1rem;
}

a{
  text-decoration:none;
    color: #00a;
}

.bold{
  font-weight: bolder;
}
.warn{
  color: #a00;
}
.title {
  font-weight: bolder;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #199475;
  color: #fff;
  box-shadow: 0.2rem 0.2rem 0.1rem #888;
  border-radius: 0.1rem;
  border-color: #0b6e48;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0rem;
  border-bottom-width: 0rem;
  border-left-width: 0.4rem;
}
.center {
  margin:0 auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

img.image {
  min-width: 80%;
  max-width: 100%;
}


mdp {
  background-color: #666;
}
